html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
ul li.SagOk {
    list-style: none;
}

    ul li.SagOk:before {
        content: '\1F846';
        margin-left: -6%;
    }