html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

ul li.SagOk {
    list-style: none;
}

    ul li.SagOk:before {
        content: '\1F846';
        margin-left: -6%;
    }

.btn:hover {
    transform: scale(1.02)
}

.btn:active {
    transform: scale(1)
}

p.replyfeed {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.NoStyleLink:hover {
    text-decoration: none;
}

.CardButton {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.CardButton:hover {
    opacity: 0.7;
}