<link href="~/css/Liste.css" rel="stylesheet">
    <div class="jumbotron p-4" style="border-radius:3%;position:relative;">
        <hr class="my-2">
        <h1 class="text-center ">TİBER SABUN VE DOĞAL ÜRÜNLER </h1>
        <b>
            Merhaba,<br />
            Doğa'ya, bitkilere olan ilgimi yararlı yağlara yönlendirerek sabun yapmaya başladım. Bir Roma efsanesine göre sabun ilk defa kadınlar tarafından keşfedilmiştir. Hayvanların kurban edildiği Sapo Dağı'nın kıyısındaki Tiber Nehri'nde çamaşır yıkayan kadınlar, çamaşırlarını eskiye göre daha az çabayla yıkadıklarını farkederler. Çünkü dağdan nehire yağmurla birlikte hayvan yağları ve odun külleri karışmaktadır. Markanın adı burdan gelmektedir. Kendime çizdiğim bu yeni yolda umarım uzun bir birlikteliğimiz olur.
        </b>
        <br />
        <br />
        <b class="lead">
            <b>Sena KUTLU</b><br />
            <small>Founder (Kurucu)</small><br />
            <small>tiberus.sk@gmail.com</small>
        </b>
        <hr class="my-2">
        <p class="lead text-center ">Tiber Nehri </p>
        <img style="width:100%; height:100%;" src="~/Logo/Tiber_1.jpg" alt="Fotoğraf Yok" title="Tiber Nehri" />
        <hr class="mt-4 mb-0">
    </div>